.list-cell{
    -fx-background-color: transparent;
    -fx-text-fill: WHITE;
    -fx-underline: true;
    -fx-font-family: "Courier New";


}
.list-view{
    -fx-background-color: transparent;
}
.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.button{
    -fx-background-color: transparent;
    -fx-text-fill: WHITE;
    -fx-font-family: "Courier New";
}